
#vries {
  width: 100%;
  height: 30%;
  text-align: right;
  font-family: Georgia;
  font-size: 30px;

  color: #007AB7;

  background-image: url("../../assets/image/vries_image.png"), linear-gradient(to bottom left, white 0%, #9ACDE7 100%);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 3px 3px 3px #007AB7;

  // background-color: linear-gradient(to bottom, white 0%, #999 100%);



}


ion-content {
  font-family: arial;
}

ion-content p {
  font-size: 20px;
}

label {
  color: black;
}

.template-button {
  width: 100%;
}

.template {
  font-size: 14px

}
